.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
*.tfplan
.terraform.tfstate.lock.info
terraform.rc
.terraformrc
*~